# Python Fundamentals - Exercises

Print "Hello World"

Use Python as a calculator. Try addition, subttraction, multiplication, division, raising a number to a power (**)

What is the difference between the next two code sections?

In [ ]:
print("First block")
for i in range(4):
    print(i)
print(i*2)

print("Second block")
for i in range(4):
    print(i)
    print(i*2)

# Datatypes

Create variables for a person with name "Agatha" with weight 75 and height 1.75 and a flag to define whether she is a student or not.  What are the types of these variables?

Using the vriables above, what happens when we 
- add 0.1m to the height
- multiply the name by 3
- add "Christie" to the name
- add "five", or "5" to the weight

# Methods

What methods does an int have?
Do strings have a method to determine their length?

# Strings 

Create a string with all the letters of the alphabet "ABCDEFGHIJKLMNOPQRSTUVWXYZ" and use functions, string methods, slicing and indexing to answer the following questions:
- What is the first letter?
- What is the last letter?
- What are the last 5 letters?
- What are the 11th - 15th letters (inclusive)?
- What is the string from the 21st letter to the end of the alphabet?

# Compound data structures:  list, tuple and dict

## Lists

Create a list with at least three elements of string datatype. Choose fruit or flowers or cars or whatever. 
1. Find the first element.
2. Find the last element.
3. Append another element to the list
4. Count the elements in the list
5. Insert an element into the third position
6. Sort the list

Use a list comprehension to add a "s" to the end of each of the elements of the list.

## Tuples

Create a tuple with three elements.  Assign each element of the tuple to a different variable.

## Dictionaries

Create a dictionary with these keys and values:
- key "ENG", value "England"
- key "WAL", value "Wales"
- key "SCO", value "Scotland"
- key "NIR", value "Northern Ireland"

Answer these questions
- What is the value corresponding to the "NIR" key?
- What is the value corresponding to the "GBR" key?

- Can you set a key "JER" with value "Jerzee"
- Can you set another key "JER" with value "Jersey".  What happens?

# Control flow

_Conditional statements with if - elif - else_

Given a temperature reading, return "cool" if under 15, "warm" if 15 or over but under 25 and "hot" if over 25.

_Loop with for_

Print the squares of whole numbers for 1 to 10

_Loop with while_

Print the result of 15 raised to the power of 1,2,3... while teh result is under 1,000,000.